

<% if @conversations.count == 0 %>
  There are currently no active conversations, would you like to <%= link_to 'create one', new_conversation_path %>?
<% else %>

  <table>

  <% @conversations.each do |conversation| %>
    <tr>
      <td style="padding-right:10px;"><%= link_to conversation.name, conversation %></td>
      
      <% if conversation.postedByUser == current_user.id %> 
        <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
        <td><%= link_to 'Delete', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>

    </tr>
  <% end %>
  </table>

  <br />

<% if user_signed_in? %>
  <%= link_to 'New Conversation', new_conversation_path %>
<% end %>


<% end %>
