

<% if @conversations.count == 0 %>
  There are currently no active conversations, would you like to <%= link_to 'create one', new_conversation_path %>?
<% else %>

  <table>

  <% @conversations.each do |conversation| %>
    <tr>
      <td style="padding-right:10px;"><%= conversation.name %></td>
      <td><%= link_to 'Show', conversation %></td>
      <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
      <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Conversation', new_conversation_path %>

<% end %>
