<p id="notice"><%= notice %></p>

<div style="font-size: 24px;">
	<p>
	 	<b><%= @conversation.name %></b>
	</p>
</div>

<p>
  <%= @conversation.description %>
</p>

<p>
  <b>Posted By:</b>
  <%= @user.nil? ? "Unknown" : @user.email %>
</p>

<%= render @conversation.comments %>

<div>Add a Comment</div>

<%= form_for([@conversation, @conversation.comments.build]) do |f| %>
	<div>
		<%= f.text_area :body, :class => "textField" %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>


