<%= javascript_include_tag "conversations" %>

<p id="notice"><%= notice %></p>

<div style="font-size: 20px;">
	<p>
	 	<b><%= @conversation.name %></b>
	</p>
</div>

<p>
  <%= @conversation.description %>
</p>

<p>
	<div style="font-size:75%">
		<b>Posted By:</b>
		<%= @user.nil? ? "Unknown" : @user.email %>
  	</div>
</p>

<%= render @conversation.comments %>

<% if user_signed_in? %>
	<div style="padding-bottom:5px;">
	<a id="addComment">Add a Comment</a>
	</div>
<% end %>

<%= render "comments/form" %>

<script>
	$(document).ready(function() {
		$('#addComment').click(function() {
			$('#new_comment').toggle('fast');
		});

		$('#new_comment').hide();
	});
</script>





