<p id="notice"><%= notice %></p>

<div style="font-size: 20px;">
	<p>
	 	<b><%= @conversation.name %></b>
	</p>
</div>

<p>
  <%= @conversation.description %>
</p>

<p>
	<%= render "conversationProperties" %>
</p>

<div id="commentsDiv">
	<%= render @conversation.comments %>
</div>

<% if admin_signed_in? || user_signed_in? %>
	<div style="padding-bottom:5px;">
		<a id="addComment">Add a Comment</a>
	</div>
<% end %>

<%= render "comments/form" %>

<div id="ajaxFeedback" style="padding:10px;color:green;float:right;"/>

<script>
	$(document).ready(function() {
		$('#new_comment').hide();
		$('#ajaxFeedback').hide();

		$('#addComment').click(function() {
			$('#new_comment').toggle('fast');
		});
		
		$("#new_comment").bind('ajax:success', function(evt, data, status, xhr) {
			$('#commentsDiv').append($(xhr.responseText).show('fast'));
			$('#comment_body').val('');
		});

		$('#conversation_assigned_to').change(function(){
			$(this).parents('form:first').submit();
		});

		$('#conversation_sprint').change(function(){
			$(this).parents('form:first').submit();
		});

		$('#conversation_points').blur(function(){
			$(this).parents('form:first').submit();
		});
	});
</script>





