<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @conversation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @conversation.description %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
