<!DOCTYPE html>
<html>
<head>
  <title>CoffeeCodersQuorum</title>
  <%= stylesheet_link_tag    "mobile" %>
  <%= stylesheet_link_tag    "jquery.mobile-1.2.0.min", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.mobile-1.2.0.min" %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="mainHeader">
		Coffee Coders Quorum
	</div>

	<div id="mainBody">
		<%= yield %>		
	</div>

	<div>

		<%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %>

	</div>

</body>
</html>
