<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag image_path("favicon.ico") %>

  <title>Coffee Coders Quorum</title>


  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/smoothness/jquery-ui.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>


  <%= csrf_meta_tags %>
</head>
<body>

	<div id="mainHeader">
		Coffee Coders Quorum
	</div>

	<div style="float:right; padding: 5px;">

<%= render "shared/authentication_status" %>

</div>
<div id="content">

	<div id="mainBody">
		<%= yield %>		
	</div>

	<div>

	</div>

	<div>
		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
	</div>
	
</div>

<script>
	$('#mainHeader').click(function() {
		window.location = Routes.conversations_path();
	})
</script>

</body>
</html>
