<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag image_path("favicon.ico") %>

  <title>Coffee Coders Quorum</title>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="mainHeader">
		Coffee Coders Quorum
	</div>

	<div style="float:right; padding: 5px;">

<%= render "shared/authentication_status" %>

</div>
<div id="content">

	<div id="mainBody">
		<%= yield %>		
	</div>

	<div>

	</div>

	<div>
		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
	</div>
	
</div>

<script>
	$('#mainHeader').click(function() {
		window.location = Routes.conversations_path();
	})
</script>

</body>
</html>
