<!DOCTYPE html>
<html>
<head>

  <title>Coffee Coders Quorum</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="mainHeader">
		Coffee Coders Quorum
	</div>

	<div id="mainBody">
		<%= yield %>		
	</div>

	<div>


	</div>

	<div>
		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
	</div>

	<script>
		$('#mainHeader').click(function() {
			window.location = Routes.conversations_path();
		})
	</script>

</body>
</html>
